{% extends 'script.html' %}
{% load static %}
{% block main %}
{% include "menuHome.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu Home</title>
    <link rel="stylesheet" href="{% static 'css/service.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <strong class="text-center mt-2">Enregistre un colis</strong>
            <hr>
            <p class="text-end"><strong>1kg {{prix}}.USD</strong></p>
                <main class="col-md-12 ms-sm-auto">
                    <div class="container">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %} 
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-danger alert-dismissible fade show text-center mb-2" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                    {% endfor %}
                            {% endif %}
                            <div class="container">
                                <div class="mb-2">
                                    <i class="fas fa-solid fa-cube" style='cursor: pointer;'></i>
                                    <label for="exampleFormControlInput1" class="form-label">Type de colis</label>
                                    <select name="alimentsid" class='form-select'>   
                                        {% for typecoli in typecolis %}
                                            <option value="{{typecoli.id}}">{{typecoli.typeColi}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-2">
                                <i class="far fa-sharp fa-solid fa-flag" style='cursor: pointer;'></i>
                                <label for="exampleFormControlInput1" class="form-label">Pays et ville d'envois</label>
                                    <select name="paysvilleenmvoieid" id="lieuDepart" class="form-control" required>
                                        {% for ville in villes %}
                                            <option value="{{ville.id}}">{{ville.nomPaysId.nom}} - {{ville.nomCity}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <i class="fas fa-sharp fa-solid fa-flag" style='cursor: pointer;'></i>
                                    <label for="exampleFormControlInput1" class="form-label">Pays et la ville destinée</label>
                                    <input type="text" class="form-control" placeholder="Pays et la ville destinée" name="villeDestine" autocomplete="off" required>
                                </div>
                               
                                <div class="mb-2">
                                    <i class="far fa-solid fa-user"style='cursor: pointer;'></i>
                                    <label for="exampleFormControlInput1" class="form-label">Expéditeur nom complet</label>
                                    <input type="text" class="form-control" placeholder="Expéditeur" name="expediteur" autocomplete="off" required>
                                </div>
                                <div class="mb-2">
                                    <i class="fas fa-solid fa-user"style='cursor: pointer;'></i>
                                    <label for="exampleFormControlInput1" class="form-label">Destinateur nom complet </label>
                                    <input type="text" class="form-control" placeholder="Destiné à" name="destinateur"  autocomplete="off" required>
                                </div>
                                <div class="mb-2">
                                    <i class="fas fa-balance-scale"style='cursor: pointer;'></i>
                                    <label for="exampleFormControlInput1" class="form-label">Kilo</label>
                                    <input type="number" class="form-control" placeholder="Entrer le poid" name="kilo"  autocomplete="off" required>
                                </div>
                                <div class="mb-2">
                                <i class="fas fa-duotone fa-mobile" style='cursor: pointer;'></i>
                                    <label for="exampleFormControlInput1" class="form-label">Téléphone</label>
                                    <input type="tel" class="form-control" placeholder="Numero de téléphone du destinateur" name="telephone" autocomplete="off" required>
                                </div>
                                <div class="mb-2">
                                    <i class="fas fa-envelope" style='cursor: pointer;'></i>
                                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                                    <input type="email" class="form-control" placeholder="Entrer email du destinateur" name="email" autocomplete="off" required>
                                </div>
                                <div class="mb-2">
                                    <i class="fas fa-chart-bar"style='cursor: pointer;'></i>
                                    <label for="exampleFormControlInput1" class="form-label">Description *</label>
                                    <input type="text" class="form-control" name="description"  placeholder="Description" autocomplete="off" required>
                                </div>
                              
                                <div class="mb-2">
                                    <i class="fas fa-image" style='cursor: pointer;'></i>
                                    <label for="exampleFormControlInput1" class="form-label">Image</label>
                                    <input type="file" class="form-control" name="image" id="fileImage" required>
                                </div>
                                <div class="mb-2 col_img1">
                                    <img alt="Image selectionner" src="" class="img-thumbnail" id="thumbnail">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" name="enregistre">Enregistre</button>
                            </div>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock main %}